.dark-mode{
    background-color: rgb(2, 12, 44);
    color: cornsilk;
    height: 30vh;
    padding: 10vh;
}

.jordan-mode {
    font-size: 3em;
}

#art-1 {
    border: 3px solid rgb(141, 11, 11);
    height: 2em;
    width: 50%;
    margin: 2em;
}

#art-2 {
    border: 3px solid rgb(5, 119, 39);
    height: 2em;
    width: 50%;
    margin: 2em;
}

section {
    display: flex;
}

.disabled {
    background-color: gray;
}

.enabled {
    background-color: fuchsia;
    color: goldenrod;
}